*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
    font-family: verdana sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.navbar{
    position: fixed;
    background-color: #A3DA8D;
    height: 60px;
}
.homepage{
    position: relative;
    background-color: #FFF1BD;
    padding-top: 80px;
    height: 100vh;
}