*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    
}
html {
    font-size: 15px;
    font-family: verdana sans-serif;
    scroll-behavior: smooth;
    
}
a {
    text-decoration: none;
}
.navbar{
    position: fixed;
    height: 60px;
}
.jumbotron {
    position: relative;
    background-color: #EEC373;
    margin-top: 80px;
    padding-top: 50px;
 
}
.cat { 
    height: 400px;
    width: 400px;
    padding-top: 20px;
}
.cat > img {
    max-width: 100%;
    max-height: 100%;
}
.services-head {
    position: relative;
    text-align: center;
    font: ;
    font-size: 24px;
    padding-bottom: 5px;
    padding-top: 3px;
}

/** Wave **/
.wave1 {
    
}
/** Services **/
.services {
    background-color: green;
}